<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861643519791-ncvppk3stbjlrk99obj7oji7efjpj9rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861643519791-ncvppk3stbjlrk99obj7oji7efjpj9rr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861643519791-nqejhegrd3t70fp5qs2qiieqqtsf3bj9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTk0v7ALYQWph7uhLcHfJHqTvGppLtWpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>861643519791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitAppDashboard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fruit-hub-ad64a</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-hub-ad64a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861643519791:ios:77cf261b339406b25653da</string>
</dict>
</plist>